@import "tailwindcss";

@theme {
  --color-primary: #0f5238;
  --color-primary-container: #2d6a4f;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #a8e7c5;
  
  --color-secondary: #ac3509;
  --color-secondary-container: #fe6f42;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #631800;

  --color-tertiary: #4a473d;
  --color-tertiary-container: #625f54;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #dfd9cc;

  --color-surface: #f8f9ff;
  --color-surface-dim: #d6dae3;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f0f4fd;
  --color-surface-container: #eaeef7;
  --color-surface-container-high: #e4e8f1;
  --color-surface-container-highest: #dee3eb;
  --color-surface-variant: #dee3eb;

  --color-on-surface: #171c22;
  --color-on-surface-variant: #404943;
  --color-outline: #707973;
  --color-outline-variant: #bfc9c1;

  --color-background: #f8f9ff;
  --color-on-background: #171c22;

  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
